body {
    background-color: aliceblue;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: lightgray;
            color: black;
        }

        .topnav a.active {
            background-color: lightslategray;
            color: white;
        }

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
}
