body
{
}
.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
float: left;
 color: lightslategrey;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
    }

.topnav a:hover {
 background-color: lightgray;
 color: black;
        }

.topnav a.active {
 background-color: lightslategray;
color: white;
        }
p{
    float:left;
    width:100px;
    padding:unset 5px;
}